@media ( max-width: 600px) {

  
  /* * {
  outline: 1px solid red;
} */

.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
 
.nav-wrapper {
  margin-left: 18vw; 
  height: 5vh;
  margin-top: 3vh;
  
}
.nav-bar a{
  
  font-size: 3vw !important;
  
}

  .hero-1 {
  height: 100vh;
  margin-top: 10vh;
 flex-direction: column;
 text-align: center;
}

.hero-1-left {
  height: 60%;
  width: 100%;
  margin-left: 4vw;
  line-height: 8vw;
  
}


.hero-1-left h3 {
  margin-left: 2vw;
  font-size: 3vw;
}
.hero-1-left p {
  font-size: 2vw;
  line-height: 2vw;
  margin-top: 1vw;
  margin-left: 1vw;
}
.hero-1-left h2 {
  margin-left: 0.4vw;
  font-size: 8vw;

}
.hero-1-left button {
  margin-left: 3vw;
  margin-top: 2vw;
  width: 25vh;
  font-size: 2vh;
}

.hero-1-right {
  height: 100%;
  width: 40%;
  margin-right: 10vw;
}
.hero-1-right img {
  margin-top: 10vw;
  height: 60%;
  width: 80%;
  margin-left: 10vh;
}

.hero-1-left button:hover{
    background-color: rgb(11, 122, 15);
    width: 26vw;
    font-size: 2.2vh;
}


.highlight::after {
  
  top: -0.5vw !important;
  
  height: 6vw !important;
  
}


.hero-2 {
  height: 25vh;
 
}

.hero-2 p {
  font-size: 1.7vw;
}


.hero-3 {
  display: none;
}


.service-hero-3{
  display: none;
}


.service-box-responsive{
  display: inline-block;
  height: 550vh !important;
}
.hero-3-box-responsive{
  display: inline-block;
  margin-top: 10vh;
  height: 1100vw !important;
  display: grid;
  place-items: center;  
}
.box-responsive{
    
    align-items: center;   
}


.box-responsive{
  
  height: 90vh;
  width: 62vw;
  overflow: hidden;
  border-radius: 15px;
  border: 5px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #4caf50, #cddc39) border-box;
 /* margin-left: 20vh; */
  display: grid;
  place-items: center;
 margin-top: 10vh;
 padding-top: 10vh;
 gap: 15vh;
}
.box-responsive .portion {
  margin-left: 0vh;
}

.box-responsive .portion .portion-left{
  height: 50%;
  width: 100%;
  margin: 10vh 5vh;
}
.box-responsive .portion .portion-left h1{
  font-size:5vw ;
}
.box-responsive .portion .portion-left p{
  font-size:2vw ;
}
.box-responsive .portion .portion-left button{
  width: 20vw;
}

.box-responsive .portion .portion-right{
  height: 50%;
  width: 100%;
}


.hero-4 button {
  
  margin-left: 30vw !important;
  
}

.hero-5 {
  height: 20vw;
  width: 100%;
 
  margin-top: 10vh;
}
.hero-5 img {
  
  height: 100%;
}



.hero-6 .portion{
  display: flex;
}



.two {
  margin-top: 6vw;
}
.two ul li{
  font-size: 2vh;
}

.job-sec-2 {
  height: 70vh;
}
.job-sec-2 .line-1 {
  flex-direction: column;
  
  
  
}
.job-sec-2 .line-1 .shape {
width: 35vh !important;
height: 8vh !important;
}

.job-sec-2 .line-1 .shape h3 {
  margin-top: 10vh;
  font-size: 7vh;
}
.job-sec-3 .hero-4{
  height: 30vh;
}
.job-sec-3 .hero-4 button{
  margin-left: 20vh;
}

.job-sec-4 .shape button{
  width: 30vw !important;
}

.job-sec-5 {
  height: 34vw;
  
}

.job-sec-5 .portion {
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-sec-5 .portion .portion-left h1{
  font-size: 5vw;
}
.job-sec-5 .portion .portion-left p{
  font-size: 2vw;
}
.job-sec-5 .portion .portion-left button{
  font-size: 2vh;
  width: 15vw;
  
}


.service-hero-2{
  height: 25vh;
  margin-top: 10vh;
}

.service-hero-2 button{
   margin-left: 30vw !important;
}
.succ-sec-4 .hero-4 img {
  margin-left: 2vh;
  height: 30% !important;
}

.succ-sec-4 .hero-4 {
  height: 70vh !important;
}
.succ-sec-4 .hero-4 button{
   margin-left: 30vw !important;
}
.succ-sec-4 .success-boxs {
  height: 80vw !important;
  flex-direction: column;
}
.succ-sec-4 .success-boxs .success-box {
  height: 100%;
  width: 35vw;
  
}
.succ-sec-4 .success-boxs .success-box p {
  margin-top: 2vh !important;
  margin-left: 2vw;
  font-weight: lighter;
  font-size: 1.7vw;
}
.succ-sec-4 .success-boxs .success-box .ri-star-fill {
  font-size: 3vw;
  margin-top: 3vh;
}




.succ-sec-4 .success-boxs .success-box img {
  position: relative;
  bottom: 5vw;
  height: 11vh;
}

.dot-container {
  margin-top: 20vh;
}


.service-box{
  flex-direction: column;
}


.service-hero-1 {
  height: 35vh;
}
.service-hero-1-sec2 {
  height: 150vh !important;
 
}


.service-hero-1-sec2 .box {
  background: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  width: 270px;
  padding: 2vw;
  height:30vh;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
}
.service-hero-1-sec2 .box p{
  font-size: 2vh;
  margin-top: 2vh;
}

.service-hero-1-sec2 .box h3{
  font-size: 4vh;
}







.pricing-plan img {
  height: 15vh;
}
.pricing-plan h1 {
  font-size: 4vh;
}
.pricing-plan p {
  font-size: 2vh;
}

.pricing-plan-2 .boxes {
  height: 220vh;
  flex-direction: column;
  margin-top: 5vh;
}
.pricing-plan-2 .boxes .box {
  height: 70vh !important;
  width: 35vh !important;
  overflow: hidden;
  
  
}
.pricing-plan-2 .boxes .box p {
  
  font-size: 1.7vh;
 
}
.pricing-plan-2 .boxes .box h4 {
  font-size: 3vh;
  margin-top: 1vh;
}

.pricing-plan-2 .boxes .box ul li {
  font-size: 1.3vh;
  max-width: 20vw;
  margin-left: 2vw;
  margin-top: 1vh;
}

.pricing-plan-2 .boxes .box h2 {
  margin-top: 3.2vh;

  font-size: 3vh;
}
.pricing-plan-2 .boxes .box button {
  margin-left: 2vw;
  width: 25vh;
}


button {
 
  width: 22vh !important;
 
}
button:hover{
    
    font-size: 2.2vw;
}














}


/* responsive 2 */

@media  (max-width: 1024px) {

  .job-sec-4{
    height: 260vh;
  }

  .job-sec-5{
    margin-top: 20vh;
  }
  .service-hero-3 {
    height: 170vh;
  }

  .pricing-plan-2 .boxes .box{
    height: 30vw;
  }
}






@media  (max-width: 780px) {


  .nav-wrapper {
  height: 10vh;
  border: none;
  
}


.nav-bar a {
  font-size: 2vw;
}

  button {
  
  width: 15vw;
  font-size: 2vh;
  
}

button:hover{
    background-color: rgb(11, 122, 15);
    width: 15vw;
    font-size: 2.1vh;
}

.hero-2 {
  height: 10vh;
  
}
.hero-2 .color {
  
  margin-left: 75vw;
}
.hero-2 p {
  margin-top: 1.5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 2vw;
}



.hero-4 {
  height: 20vw;
  width: 100%;
  margin-top: 15vw;
}
.hero-4 h1 {
  margin-left: 13vw;
  margin-right: 10vw;
  
}
.hero-4 p {
  margin-top: 1vw;
  margin-left: 17vw;
  margin-right: 15vw;
  line-height: 1.5vw;
  font-size: 1.8vw;
}
.hero-4 button {
  
  margin-left: 40vw;
  
}

.hero-5 {
  height: 20vw;
  width: 100%;
  
}
.hero-5 img {

  margin-left: 5vw;
}

.hero-7 .portion .portion-left button {
  width: 20vw;
  
}

.footer {
  height: 20vw;
  width: 100%;
  margin-top: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}
.one {
  height: 100%;
  width: 33%;
  margin-left: 5vw;
}
.one h1 {
  font-size: 3.5vw;
}
.one p {
  margin-top: 1vw;
  font-size: 1.5vw;
}



.two {
  margin-top: 6vw;
}

.three {
  height: 80%;
  width: 33%;
}
.three img{
  height: 100%;
}






.job-sec-2 .line-1 .shape {
  height: 6vw;
  width: 18vw;
  border: 2px solid black;
  border-radius: 2vw;
  text-align: center;
}
.job-sec-2 .line-1 .shape h3 {
  margin-top: 2vw;
  font-size: 2.2vh;
}




.succ-sec-4 .hero-4 img {
  margin-left: 0vw;
  height: 40%;
}
.succ-sec-4 .success-boxs {
  height: 28vw;
}




.succ-sec-4 .success-boxs .success-box p {
  margin-top: 9vh;
}




.service-hero-1-sec2 {
  height: 120vw;
  
  flex-direction: column;
 
}

.service-hero-4{
  margin-top: 30vw;
}
.service-box{
  flex-direction: column;
}






}



